<%= form_for(@symptom, html:{class:"form-horizontal"}) do |f| %>
  <%= f.label :name, "症状名" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.submit "登録", class:"btn btn-primary" %>
<% end %>

<a href="#" onClick="window.close();window.opener.location.reload();return true">
登録画面ウィンドウを閉じる</a>