 // Place all the styles related to the static_pages controller here.
 //They will automatically be included in application.css.
 //You can use Sass (SCSS) here: http://sass-lang.com/
 
 
/* typography */
h1 {
  color: red;
  text_shadow: -10px 10px 0 #fff;
}

h3 {
   color: #cdcdcd;
   text_shadow: -10px 10px 0 #fff;
}

